form {
	padding: 15px;
}

.empDiv {
	margin: 0 auto;
	padding: 0;
}

.jumbotron {
	margin: 0 auto 30px;
	text-align: center;
}

.card-header {
	font-weight: bold;
}

.card-header:first-child {
	border-radius: 0;
}

#addTrainDiv {
	margin-bottom: 25px;
}